<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Mon blog</h1>
    <p class="lead blog-description">An exemple blog template built with boostrap.</p>
    <%= link_to 'crée un nouvo blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>