
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/udemy-1?svg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Certifié chez Udemy en plusiers léçon sur informatique (programmation)
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/technolab.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                 Actuellement en programme d'études en informatique au Technola-ISTA Université.
                </div>
              </div>
            </div>
          </div>
