<h1>About Me</h1>
<div class="row">
	<div class="col-md-4">
		<%= image_tag "azizpro.jpg", width: 300, alt: "profile image" %>
	</div>
	<div class="col-md-4">
		<p>Cette page est en develppement</p>
	</div>
</div>

