<div class="app-card-container">
  <div class="card">

		<h1>Voulez-vous travailler ensemble?</h1>

		<hr>

		<div class='row'>
			<div class="col-md-6">
				<h3>Address Officiel</h3>
				<p>Lafiagoubou Tabakoro sugu cote Ouest</p>
				<h3>Phone</h3>
				<p><%= number_to_phone "79060673" %></p>
				<h3>Email</h3>
				<p><a href="mailto:sacko202@gmail.com?subject=EmailPersonnel" "email me">Envoyez moi un email</a></p>
			</div>

			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15573.1432067714!2d-8.051304831383888!3d12.629246357296882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe51cc785e85ebd1%3A0xf6eb22c3e1a96dbd!2sLafiabougou%2C+Bamako!5e0!3m2!1sfr!2sml!4v1536351696787" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

